<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>newquiz</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/doingquiz.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <header>
      <%- include('navbar') %>
    </header>
      <main>
        <form action="" method="POST" class="mainform">
          <div class="titleinfo"><%= data[0].title %></div>
            <div class="descriptioninfo"><%= data[0].description %></div>
            <div class="questioninfo">
            <% let currentquestion = ""
                let questionNumber = 0;
              for (let item in data) {
              if (currentquestion !== data[item].question) {
                questionNumber += 1;
                currentquestion = data[item].question %>
              <div class="questiontitle"><%= currentquestion %></div>
              <div class=answersinfo>
                <span class="possibleanswers">
                  <div class="answersforquestion"><%= data[item].answer %></div>
                  <input type="radio" name="answer<%= questionNumber%>">
                </span>
                    <% } else { %>
                <span class="possibleanswers">
                  <div class="answersforquestion"><%= data[item].answer %></div>
                  <input type="radio" name="answer<%= questionNumber%>" >
                </span>
                <% } } %>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="submitanswersbutton">Submit Answers</button>
        </form>
      </main>
  </body>
</html>
