<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>newquiz</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/results.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <header>
      <%- include('navbar') %>
    </header>
      <main>
        <form action="" method="POST" class="mainform">
          <div class="titleinfo"><%= title %></div>
          <div class="resultsinfo">Congratulations! You got <%= result %>/<%= numQuestions %></div>
          <!-- <div class="questioninfo">
            <%= username %>
            <div class="questiontitle">Is this a good question?</div>
            <div class=answersinfo>
              <span class="possibleanswers">
                <span class="answersforquestion">This is going to be the first answer</span>
              </span>
              <span class="possibleanswers" id="correct">
                <span class="answersforquestion">This is going to be the second answer</span>
              </span>
              <span class="possibleanswers" id="incorrect">
                <span class="answersforquestion">This is going to be the third answer</span>
              </span>
            </div>
          </div> -->
          <button type="submit" class="sharebutton">Share results</button>
        </form>
      </main>
  </body>
</html>
